<div class="container">
    <ul class="nav-list">
        <a mat-list-item
            style="color:var(--yellow)"
            class="nav-link"
            (click)="onCloseSidenav()"
            routerLink="program">program</a>
        <!-- <a mat-list-item
            (click)="onCloseSidenav()"
            routerLink="media">media</a> -->
        <a mat-list-item
            (click)="onCloseSidenav()"
            routerLink="about">about</a>
        <a mat-list-item
            (click)="onCloseSidenav()"
            routerLink="location">location</a>
        @if(authStore.isLoggedIn()) {
        <a mat-list-item
            routerLink="admin/upload-media"
            (click)="onCloseSidenav()">upload media</a>
        <a mat-list-item
            routerLink="admin/stats"
            (click)="onCloseSidenav()">stats</a>
        <a mat-list-item
            routerLink="admin/artists"
            (click)="onCloseSidenav()">artists</a>
        <a mat-list-item
            routerLink="admin/store"
            (click)="onCloseSidenav()">store</a>
        }
    </ul>
    <div class="buttons">
        @if(!authStore.isLoggedIn()){
        <button mat-icon-button
            (click)="onLogin()">
            <mat-icon>login</mat-icon>
        </button>
        } @else {
        <button mat-icon-button
            (click)="onLogout()">
            <mat-icon>logout</mat-icon>
        </button>
        }
        <button mat-icon-button
            (click)="onCloseSidenav()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
