<div class="wrapper">
    <div class="artist-name">
        {{artist?.name}}
    </div>
    @if(imageFileSize) {
    <div class="file-size">
        file size:&nbsp;{{imageFileSize}}
    </div>
    }
    @if(!sourceIsFile){
    <img class="old-image image"
        [src]="imageUrl"
        alt="">
    }
    @if(sourceIsFile){
    <img class="new-image image"
        [src]="image"
        alt="">
    }

    <input type="file"
        #fileInput
        style="display: none;"
        (change)="onFileInputChange($event)">
    <div class="buttons">
        <button mat-raised-button
            (click)="fileInput.click()">select image
        </button>
        <button mat-raised-button
            [class.image-changed]="imageChanged"
            (click)="onSave()">save</button>

        <button mat-raised-button><a href="https://redketchup.io/image-resizer/"
                target="_blank">crop online</a></button>
        <button mat-raised-button
            (click)="onDelete()">delete</button>
        <button mat-raised-button
            (click)="onCancel()">cancel</button>
    </div>
</div>
