<div class="wrapper">
    <div class="photo_data_list">
        @for(photo of jazzengelPhotos();track photo.id) {
        <div class="photo_data_list_item">
            <!-- <div class="id">{{photo.id}}</div> -->
            @if(photo.date) {
            <div class="date">
                {{photo.date.toDate()|date}}
            </div>
            }
            @if(photo.downloadUrl) {
            <img (mouseover)="onThumbnailSelected(photo.downloadUrl)"
                class="thumbnail"
                [src]="photo.downloadUrl"
                alt="">
            }
            <!-- <div class="video">
                <code>
                    <pre>
                        {{video|json}}
                    </pre>
                </code>
            </div> -->
            <div class="buttons">
                <button mat-icon-button
                    (click)="onEditJazzengelPhoto(photo)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button
                    (click)="onDeleteJazengelPhoto(photo)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        }
    </div>

    @if(url) {
    <div class="photo_container">
        <img class="active_photo"
            [src]="url"
            alt="">
    </div>
    }

    <form [formGroup]="form">
        <input type="file"
            #fileInput
            (change)="onFileInputChange($event)"
            style="display:none">
        <button mat-raised-button
            (click)="fileInput.click()">select photo</button>

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput
                formControlName="date"
                [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix
                [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <form class="artists-form-array"
            formArrayName="artists">
            <div *ngFor="let artist of artists().controls; let i=index"
                class="artists">
                <div class="artist"
                    [formGroupName]="i">

                    <mat-form-field>
                        <mat-label>{{i}} Name :</mat-label>
                        <input matInput
                            type="text"
                            formControlName="name" />
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>instrument</mat-label>
                        <input matInput
                            type="text"
                            formControlName="instrument" />
                    </mat-form-field>

                    <mat-icon (click)="removeArtist(i)">delete_forever</mat-icon>

                </div>
            </div>
            <button mat-raised-button
                type="button"
                color="primary"
                (click)="addArtist()">Add Artist</button>

        </form>
        <div class="buttons">
            <button mat-raised-button
                [disabled]="formDisabled"
                (click)="onAddOrUpdatePhoto()">{{editmode ? 'update': 'add'}}&nbsp;photo</button>
            <button mat-raised-button
                (click)="onCancel()">cancel</button>
        </div>
    </form>
</div>
