<div class="wrapper">
    <!-- <div class="artists">{{artists|json}}</div> -->
    <div mat-dialog-title
        class="date">{{closestSunday|date}}</div>

    <mat-dialog-content>
        <div class="artists">
            @for(artist of artists; track artist.id) {
            <div class="artist">
                <div class="name">{{artist.name}}</div>
                <div class="instrument">{{artist.instrument}}</div>
            </div>
            }
        </div>
    </mat-dialog-content>

    <div class="close"
        (click)="onClose()">
        <mat-icon>close</mat-icon>
    </div>
    <!-- <div class="concert">
        <pre>
            <code>
                {{concert|json}}
            </code>
        </pre>
    </div> -->

</div>
