 <!-- {{artists}} -->

 <mat-accordion>
     <mat-expansion-panel class="date"
         [expanded]="(concert.date.getDate() === adminStore.selectedDateNumber())">
         <mat-expansion-panel-header (click)="onDateSelected($event, concert)"
             [style]="getHeight()">

             <mat-panel-description>
                 <!-- @if(featuredArtists && featuredArtists.length){ -->

                 <div class="left">
                     <div class="date"
                         (click)="onDate($event)">{{concert.date.getDate()}}</div>
                     <ul>
                         <!-- {{featuredArtists|json}} -->
                         @for(artist of featuredArtists; track artist.id) {
                         <li>
                             {{artist.name}}
                         </li>
                         }
                     </ul>
                 </div>
                 <!-- } -->
             </mat-panel-description>
         </mat-expansion-panel-header>

         @if(artists && artists.length) {
         @for(artist of artists;track artist.id){
         <app-artist-bio [artist]="artist"></app-artist-bio>
         }
         }
     </mat-expansion-panel>
 </mat-accordion>
