<div class="title"
    mat-dialog-title>{{data.concert.date|date}}</div>
<!-- } -->

<mat-dialog-content>
    <!-- <div class="editmode">{{editmode}}</div>
    @if(concert.id) {
    <div class="id">{{concert.id}}</div>
    } @else {
    <div class="no-id">no id</div>
    } -->
    @if(artists.length){
    <ul class="artists">
        @for(artist of artists;track artist; let index = $index){

        <li class="artist">
            <div class="left">

                <div class="name">{{artist.name}}</div>
                <div class="move">
                    @if(index != 0) {
                    <button mat-icon-button
                        (click)="onMove('up', index)">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                    }
                    <button mat-icon-button
                        [disabled]="index == artists.length - 1"
                        (click)="onMove('down', index)"
                        [ngStyle]="index == artists.length - 1 ? {visibility:'hidden'}: null">

                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                </div>
            </div>
            <div class="right">
                <div class="is-featured">
                    <mat-checkbox [checked]="getIsFeatured(artist.id)"
                        (change)="onCheckboxChange($event, index)"></mat-checkbox>
                </div>
                <button mat-icon-button
                    color="warn"
                    (click)="onDeleteArtist(index)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </li>
        }

    </ul>
    }
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>add artist</mat-label>
            <mat-select formControlName="artist"
                (selectionChange)="artistSelected()">
                @for (artist of adminStore.artists(); track artist.id) {
                <mat-option [value]="artist">{{artist.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-raised-button
            color="primary"
            [ngStyle]="{'border': concertChanged ? '3px solid red' : '3px solid transparent'}"
            (click)="addOrUpdateConcert()">update concert</button>
        <button mat-raised-button
            color="primary"
            (click)="onDeleteConcert()">delete concert</button>
        <button mat-raised-button
            color="primary"
            mat-dialog-close>cancel</button>
    </div>
</mat-dialog-content>
