mat-expansion-panel {
    background-color: var(--purple);
    border: 1px solid var(--yellow);

    // .close {
    //     background-color: white;
    // }
    mat-expansion-panel-header {
        background-color: var(--purple);
        mat-panel-title {
            display: flex;
            justify-content: space-between;
            width: 2rem;
            color: var(--yellow) !important;
            font-size: 1.1rem;
            letter-spacing: 1.1px;
            .name {
            }
            .instrument {
                text-transform: lowercase;
            }
        }
        mat-panel-description {
            height: 5rem !important;
            // .date {
            //     width: 1.5rem;
            //     // border: 2px solid red;
            //     display: flex;
            //     justify-content: end;
            //     margin-right: 1rem;
            // }
            // ul {
            //     li {
            //         display: flex;
            //         justify-content: space-between;
            //     }
            // }
            text-transform: lowercase;
            color: var(--yellow);
            font-size: 1.1rem;
            letter-spacing: 1.1px;
        }
    }
    mat-tab-group {
        color: var(--yellow);
        mat-tab {
            display: flex;
            border: 3px solid red;
            width: 100%;
            color: var(--yellow) !important;
            // .image-container {
            //     width: 80%;

            //     img {
            //         width: 100%;
            //     }
            // }
        }
        // .biography-tab {
        //     .biography {
        //     }
        // }
    }

    // mat-card {
    //     mat-card-header {
    //     }

    //     mat-card-content {
    //         img {
    //             width: 100%;
    //         }
    //     }
    //     mat-card-actions {
    //         display: flex;
    //         justify-content: end;
    //     }
    // }
}
.mat-expansion-indicator::after {
    color: var(--yellow);
}
.mat-tab-label {
    color: var(--yellow);
}
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--yellow);
}
