mat-expansion-panel {
    background-color: var(--purple);
    border: 1px solid var(--yellow);

    // .close {
    //     background-color: white;
    // }
    mat-expansion-panel-header {
        background-color: var(--purple);
        mat-panel-title {
            display: flex;
            justify-content: space-between;
            width: 2rem;
            color: var(--yellow) !important;
            font-size: 1.1rem;
            letter-spacing: 1.1px;
            .name {
            }
            .instrument {
                text-transform: lowercase;
            }
        }
        mat-panel-description {
            height: 5rem !important;

            text-transform: lowercase;
            color: var(--yellow);
            font-size: 1.1rem;
            letter-spacing: 1.1px;
        }
    }
    mat-tab-group {
        color: var(--yellow);
        mat-tab {
            display: flex;
            width: 100%;
            color: var(--yellow) !important;
            .biography {
                color: white;
            }
        }
    }
}
.mat-expansion-indicator::after {
    color: var(--yellow);
}
.mat-tab-label {
    color: var(--yellow);
}
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--yellow);
}
