<mat-accordion (click)="onArtistSelected($event)">

    <mat-expansion-panel class="artist"
        #mep="matExpansionPanel"
        [expanded]="artist.id === adminStore.selectedArtistId() ">
        <mat-expansion-panel-header (click)="selectedArtistId(artist.id)">
            <mat-panel-title>
                <div class="name">
                    {{artist.name}}
                </div>
                <div class="instrument">
                    {{artist.instrument}}

                </div>
            </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-tab-group>
            @if(imageUrl) {
            <mat-tab class="image-tab"
                label="Image">
                <div class="image-container">
                    <img [src]="artist.imageUrl">
                </div>
            </mat-tab>
            }
            @if(biography) {
            <mat-tab class="biography-tab"
                label="Biography">
                <div class="biography"
                    style="padding:0.5rem; letter-spacing: 1.1px;"
                    [innerHTML]="artist.biography"></div>
            </mat-tab>
            }
        </mat-tab-group>

        <!-- <mat-tab-group>
            @if(artist.imageUrl && artist.imageUrl !== '') {
            <mat-tab class="image-tab"
                label="Image">
                <div class="image-container">
                    <img [src]="artist.imageUrl">
                </div>
            </mat-tab>
            }
            @if(artist.biography){
            <mat-tab class="biography-tab"
                label="Biography">
                <div class="biography"
                    style="padding:0.5rem; letter-spacing: 1.1px;"
                    [innerHTML]="artist.biography"></div>
            </mat-tab>
            }

        </mat-tab-group> -->
    </mat-expansion-panel>
</mat-accordion>
