<mat-accordion (click)="onArtistSelected($event)">

    <mat-expansion-panel class="artist"
        #mep="matExpansionPanel"
        [expanded]="artist.id === adminStore.selectedArtistId() ">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="name">
                    {{artist.name|capitalizeName}}
                </div>
                <div class="instrument">
                    {{artist.instrument}}

                </div>
            </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-tab-group>
            <mat-tab class="image-tab"
                label="Image">
                <div class="image-container">
                    <img [src]="artist.imageUrl">
                </div>
            </mat-tab>
            <mat-tab class="biography-tab"
                label="Biography">
                <div class="biography"
                    [innerHTML]="artist.biography"></div>
            </mat-tab>

        </mat-tab-group>
    </mat-expansion-panel>
</mat-accordion>
