<mat-expansion-panel class="artist"
    multi="false"
    #mep="matExpansionPanel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="">
                {{artist.name}}
            </div>
            <div class="">
                {{artist.instrument}}

            </div>
        </mat-panel-title>

    </mat-expansion-panel-header>
    <mat-card>
        <mat-card-header>
            {{artist.name}}
        </mat-card-header>
        <mat-card-content [innerHTML]="artist.biography">
        </mat-card-content>
        <img [src]="artist.imageUrl"
            mat-card-image>
        <mat-card-actions>
            <button mat-icon-button
                (click)="mep.expanded=false">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <!-- {{artist|json}} -->
</mat-expansion-panel>
