form {
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}
