<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-toolbar (sidenavToggle)="sidenav.open()"></app-toolbar>
        <main>
            @if(adminStore.isLoading()){
            <app-loading-indicator></app-loading-indicator>
            }
            <router-outlet></router-outlet>
        </main>
        <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-toolbar></app-toolbar>
<router-outlet /> -->
