mat-sidenav-container {
    height: 100%;
    mat-sidenav {
        width: 80%;

        max-width: 15rem;
    }
    mat-sidenav-content {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        height: 100%;
        background-color: var(--purple);
        app-toolbar {
            grid-area: header;
        }
        main {
            overflow: auto;
            grid-area: main;
            app-loading-indicator {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 100;
                background-color: white;
                opacity: 0.5;
            }
        }
        app-footer {
            height: 2rem;
            grid-area: footer;
            background-color: aqua;
        }
    }
}
