<mat-toolbar>

    <div>
        <button (click)="onMenu()"
            mat-icon-button>

            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        @if(!authStore.isLoggedIn()){
        <button mat-icon-button
            (click)="onLogin()">
            <mat-icon>login</mat-icon>
        </button>
        } @else {
        <button mat-icon-button
            (click)="onLogout()">
            <mat-icon>logout</mat-icon>
        </button>
        }
    </div>

</mat-toolbar>
