mat-toolbar {
    background-color: var(--yellow);
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 2.5rem;
    }
}
