<mat-toolbar>
    <div class="left">

        <img (click)="onMenu()"
            src="./../../../assets/icons/icon-72x72.png"
            alt="">
        @if(authStore.userEmail) {
        <span>{{authStore.userEmail()}}</span>
        }
        <!-- <div class="time">{{time}}</div> -->
    </div>
    <!-- <div class="is-loading">loading: {{adminStore.isLoading()}}</div> -->
    <div class="right">
        <div class="links">
            <a routerLinkActive="link-active"
                routerLink="program">program</a>
            <!-- <a routerLinkActive="link-active" routerLink="media">media</a> -->
            <a routerLinkActive="link-active"
                routerLink="about">about</a>
            <a routerLinkActive="link-active"
                routerLink="location">location</a>
            @if(authStore.isLoggedIn()) {
            <a routerLinkActive="link-active"
                routerLink="admin/upload-media">upload media</a>
            <a routerLinkActive="link-active"
                routerLink="admin/stats">stats</a>
            <a routerLinkActive="link-active"
                routerLink="admin/artists">artists</a>
            <a routerLinkActive="link-active"
                routerLink="admin/store">
                store
            </a>
            }
        </div>
        <div class="buttons">
            @if(!authStore.isLoggedIn()){
            <button mat-icon-button
                (click)="onLogin()">
                <mat-icon>login</mat-icon>
            </button>
            } @else {
            <button mat-icon-button
                (click)="onLogout()">
                <mat-icon>logout</mat-icon>
            </button>
            }
        </div>

    </div>


</mat-toolbar>
