<form [formGroup]="form">
    <mat-form-field>
        <mat-label>name</mat-label>
        <input type="text"
            matInput
            formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>instrument</mat-label>
        <input type="text"
            matInput
            formControlName="instrument">
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button
            mat-dialog-close>cancel</button>
        <button mat-raised-button
            (click)="addArtist()">add artist</button>
    </div>
</form>
