form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 370px;
    max-width: 40rem;
    .buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}
