/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/engelbewaarder-bis";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.app {
    padding: 1rem 3rem;
    display: flex;
    gap: 1rem;
}
div.mat-expansion-panel-body {
    padding: 0.5rem !important;
}
.mat-expansion-indicator::after {
    color: yellow !important;
}
* {
    box-sizing: border-box;
}
