/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/engelbewaarder-bis";

* {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.7px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.component {
    padding: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.app {
    // padding: 1rem 3rem;
    display: flex;
    // gap: 1rem;
}
div.mat-expansion-panel-body {
    padding: 0.5rem !important;
}
.mat-expansion-indicator::after {
    color: yellow !important;
}
* {
    box-sizing: border-box;
}
.mat-mdc-tab .mdc-tab__text-label {
    color: var(--eb-blue) !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--yellow) !important;
    text-transform: uppercase;
}
.mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: var(--eb-yellow) !important;
}

.mat-mdc-tab-body-wrapper > .mat-mdc-tab-body > .mat-mdc-tab-body-content > .image-container > img {
    width: 100%;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
    background: pink !important;
}
button {
    text-transform: uppercase;
}

// ========== uploadcare ==========

/*
  Go to https://uploadcare.com/docs/file-uploader/styling/
  to read more about Blocks styling
 */
// @import "@uploadcare/blocks/web/lr-file-uploader-regular.min.css";
// @import "@uploadcare/blocks/web/lr-file-uploader-minimal.min.css";

// body {
//     margin: 0;
//     padding: 0 24px 24px;
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
//         "Droid Sans", "Helvetica Neue", sans-serif;
//     background: var(--background-color);
//     color: var(--text-color);
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

/* setting vars on body too, to prevent unstyled state when theme is not picked yet */
// body,
// body.theme--light {
//     color-scheme: light;

//     --background-color: #f7f9fa;
//     --text-color: #000;

//     --ui-text-color: #9393a6;
//     --ui-control-border-color-default: #cbcdd7;
//     --ui-control-border-color-focus: #0059c8;
//     --ui-control-background-color: #fcfcfe;
//     --ui-control-box-shadow-color: rgba(199, 215, 255, 0.5);
//     --ui-control-outline-color-focus: #98cbff;
//     --ui-control-text-color: #323236;

//     --ui-action-button-background: #0059c8;
//     --ui-action-button-text-color: #fff;
// }

// body.theme--dark {
//     __<<ngM2ThemingMigrationEscapedComment3>>__
//     color-scheme: dark;

//     --background-color: #080605;
//     --text-color: #fff;

//     --ui-text-color: #6c6c59;
//     --ui-control-border-color-default: #343228;
//     --ui-control-border-color-focus: #ffa637;
//     --ui-control-background-color: #030301;
//     --ui-control-box-shadow-color: rgba(56, 40, 0, 0.5);
//     --ui-control-outline-color-focus: #673400;
//     --ui-control-text-color: #cdcdc9;

//     --ui-action-button-background: #ffa637;
//     --ui-action-button-text-color: #000;
// }

// a {
//     text-decoration: none;
// }

// img,
// svg {
//     display: block;
// }
