<div class="wrapper">

    <mat-accordion class="example-headers-align"
        multi="false">
        @for(artist of sortedVideoArtists(); track artist) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title (click)="onArtist(artist.videoIds)">{{artist.name}}</mat-panel-title>
                <!-- <mat-panel-description>
                    <div class="content">
                        @if(video.title) {
                        {{video.title}}
                        }
                    </div>


                </mat-panel-description> -->
            </mat-expansion-panel-header>
            <ul class="video_list">
                @for(video of activeVideos(); track video.id) {
                <li class="video_list_item">
                    <div class="content">
                        <div class="date">{{video.date.seconds*1000|date}}</div>

                        @if(video.title) {
                        <div class="title">{{video.title}}</div>
                        }
                    </div>
                    <button mat-icon-button
                        (click)="onPlayMedia(video)">
                        <mat-icon>play_circle_outline</mat-icon>

                    </button>
                </li>
                }
            </ul>


        </mat-expansion-panel>
        }

    </mat-accordion>


</div>
