@for(month of adminStore.sortedConcerts(); track month ) {
<mat-accordion multi="false">

    <mat-expansion-panel (click)="monthSelected(month[0])"
        class="month"
        [expanded]="(month[0].date).getMonth()===selectedMonthNumber">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{(month[0]).date|month}}
            </mat-panel-title>

        </mat-expansion-panel-header>
        @for(concert of month;track concert) {
        <app-date [concert]="concert"></app-date>
        }
    </mat-expansion-panel>
</mat-accordion>
}
